<<<<<<< HEAD
body {
  font-family: Open Sans,Arial, Helvetica, sans-serif;
  color: #454545;
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  
}
=======
>>>>>>> 816073e (first commit)


