/* Navbar.css */

/* General Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: #fff;
  padding: 0px 0px;
}

.logo {
  height: 60px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 20px 0; /* Add margin to the top and bottom */
  padding: 0;
  justify-content: center; /* Center the links horizontally */
}

.nav-links li {
  margin-right: 40px;
}

.nav-links li:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ccc; /* Change color on hover */
}


.icon {
  display: flex;
  align-items: center;
}

.icon button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.icon button:hover {
  color: #ccc;
}

.icon button a {
  color: inherit;
  text-decoration: none;
}
