.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #000;
    height: 20px;
}

.logo {
    height: 100px;
    color: #000;
}

.button {
    color: blue;
    background: none;
    border: none;
}

.button:hover {
    text-decoration: underline;
}

.logout {
    margin-left: 10px;
}