.main-container {
    color: black;
}



.blog-title {
    font-style: bold;
}

.blog-title:hover {
    text-decoration: underline;
}

.credits {
    display : flex;
    color: #757575;
    font-size: 0.770rem;
}

.vl {
    border-left: 0.5px solid grey;
    height : 18px;
    margin: 0 5px;
}


